@using System.Web.Optimization
@using CoffeeOrderingWebsite.Models.ViewModels
@model OrderHistoryViewModel

@{
    ViewBag.Title = "View History";
}

@section styles{
    @Styles.Render("~/Content/css/history.css")
}

@section body {
    <div id="history">
        <div class="margin">
            <h3>Record of drinks ordered</h3>
            @{ Html.RenderPartial("~/Views/ViewHistory/PartialViews/_History.cshtml", Model.OrderHistoryList); }
        </div>
        <div class="margin">
            <div class="distribution"></div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        var historyDataPoints = JSON.parse('@Html.Raw(Model.SerializeDataPoints())');
    </script>

    @Scripts.Render("~/Content/scripts/history.js")
}