@using CoffeeOrderingWebsite.Models
@model List<OrderHistory>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Drink</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var orderHistory in Model)
            { 
                <tr>
                    <td>@orderHistory.ID</td>
                    <td>@orderHistory.DrinkName</td>
                    <td>@orderHistory.OrderTime.ToString("MMM d yyyy hh:mm:ss tt")</td>
                </tr>
            }          
        </tbody>
    </table>
</div>