<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Drink</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Flat White</td>
                <td>2018-08-14</td>
            </tr>
        </tbody>
    </table>
</div>