@using System.Web.Optimization

@{
    ViewBag.Title = "Stocks";
}

@section styles {
    @Styles.Render("~/Content/css/stocks.css")
}

@section body {
    <div id="stocks">
        <div class="remaining-stocks"></div>
        <div class="refresh-stocks">
            @Html.ActionLink("Refresh supplies", "Refresh", "ViewStocks")
         </div>      
    </div>
}

@section scripts {
    @Scripts.Render("~/Content/scripts/stocks.js")
}
