@using System.Web.Optimization
@using CoffeeOrderingWebsite.Models.ViewModels
@model StocksViewModel

@{
    ViewBag.Title = "Stocks";
}

@section styles {
    @Styles.Render("~/Content/css/stocks.css")
}

@section body {
    <div id="stocks">
        <div class="remaining-stocks"></div>
        <div class="refresh-stocks">
            @Html.ActionLink("Refresh supplies", "Refresh", "ViewStocks")
         </div>      
    </div>
}

@section scripts {
    <script type="text/javascript">
        var stocksDataPoints = JSON.parse('@Html.Raw(Model.SerializeDataPoints())');
    </script>

    @Scripts.Render("~/Content/scripts/stocks.js")
}
