
@{
    ViewBag.Title = "Index";
}

@using System.Web.Optimization

@section body {
    <div id="chartContainer2" style="height: 300px; width: 100%;">

    </div>
}

@section scripts {
    @Scripts.Render("~/Content/scripts/stocks.js")
}
