#selection button {
  display: block;
  margin-top: 20px;
}
#selection .result {
  color: green;
  font-size: 14px;
  margin-top: 20px;
  visibility: visible;
}
#selection .result.hidden {
  visibility: hidden;
}