@using System.Web.Optimization

@{
    ViewBag.Title = "Coffee Selection";
}

@section styles {
    @Styles.Render("~/Content/css/selection.css")
}

@section body {
    <div id="selection">
        <div class="container">
            <h3>Available options</h3>
            <form>
                <label class="radio-inline">
                    <input type="radio" name="DoubleAmericano" checked>Double Americano
                </label>
                <label class="radio-inline">
                    <input type="radio" name="SweetLatte">Sweet Latte
                </label>
                <label class="radio-inline">
                    <input type="radio" name="FlatWhite">Flat White
                </label>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="result">
            Your order is successfully placed!
        </div>
    </div>
}


